In [14]:
import pandas as pd
import csv

In [20]:
df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\df_all_ralleys_splitted.csv", encoding='unicode_escape', low_memory=False)
df.drop(columns=['Unnamed: 0'], inplace=True)

In [21]:
df

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,"4d,",5n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"4n,",5,f29,f3n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295348,4,b1,b1,f1,b1,f1*,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295349,"6w,",5,f1,b2,b3d@,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295350,"4w,",6d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295351,6,s1,f1,f2n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295352,6,s2n#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_test = df.head(5)

In [24]:
df_test

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,"4d,",5n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"4n,",5,f29,f3n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
count_of_f = df.applymap(lambda x: str(x).count('f') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\3758408980.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('f') if pd.notna(x) else 0)

497109

In [27]:
count_of_f = df.applymap(lambda x: str(x).count('b') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2814631529.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('b') if pd.notna(x) else 0)

396011

In [28]:
count_of_f = df.applymap(lambda x: str(x).count('s') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\3983933735.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('s') if pd.notna(x) else 0)

101115

In [29]:
count_of_f = df.applymap(lambda x: str(x).count('r') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\1114444812.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('r') if pd.notna(x) else 0)

36105

In [30]:
count_of_f = df.applymap(lambda x: str(x).count('o') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\1827467534.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('o') if pd.notna(x) else 0)

8802

In [31]:
count_of_f = df.applymap(lambda x: str(x).count('p') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\972785055.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('p') if pd.notna(x) else 0)

587

In [32]:
count_of_f = df.applymap(lambda x: str(x).count('l') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2092901539.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('l') if pd.notna(x) else 0)

5662

In [33]:
count_of_f = df.applymap(lambda x: str(x).count('m') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2102613296.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('m') if pd.notna(x) else 0)

9750

In [34]:
count_of_f = df.applymap(lambda x: str(x).count('i') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2685671006.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('i') if pd.notna(x) else 0)

1629

In [35]:
count_of_f = df.applymap(lambda x: str(x).count('j') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\3658939014.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('j') if pd.notna(x) else 0)

1811

In [36]:
count_of_f = df.applymap(lambda x: str(x).count('v') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2675959194.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('v') if pd.notna(x) else 0)

14193

In [37]:
count_of_f = df.applymap(lambda x: str(x).count('z') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\733419429.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('z') if pd.notna(x) else 0)

14785

In [38]:
count_of_f = df.applymap(lambda x: str(x).count('h') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\1588173266.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('h') if pd.notna(x) else 0)

1687

In [39]:
count_of_f = df.applymap(lambda x: str(x).count('u') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\244067390.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('u') if pd.notna(x) else 0)

7854

In [40]:
count_of_f = df.applymap(lambda x: str(x).count('y') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2881234332.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('y') if pd.notna(x) else 0)

7785

In [41]:
count_of_f = df.applymap(lambda x: str(x).count('k') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2001430153.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('k') if pd.notna(x) else 0)

271

In [42]:
count_of_f = df.applymap(lambda x: str(x).count('t') if pd.notna(x) else 0)

# Sum the counts for each column
total_count_of_f = count_of_f.sum()

# Display the result
print(total_count_of_f.sum())

C:\Users\Carlo\AppData\Local\Temp\ipykernel_13804\2486526183.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  count_of_f = df.applymap(lambda x: str(x).count('t') if pd.notna(x) else 0)

629